form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: white;
}
body{
    background-color: rgb(51, 163, 163);
    text-shadow: 5px;
}
input{
    border: 2px,solid rgb(131, 195, 173);
    border-radius: 7px;

    height: 30px;
    background-color: rgb(222, 230, 230);
    color: white   
}
input[type=text],textarea,option,select,input[type=email],input[type=url]{
    font-size: large;
    font-weight: bold;
    color: rgb(30, 30, 73);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* width: fit-content; */
    background-color: rgb(222, 230, 230);
    border-radius: 7px;
    width: 15%;
}
input[type=submit],input[type=date]{
    background-color: rgb(222, 230, 230);
    border-radius: 7px;
    width: fit-content;
    font-size: large;
    font-weight: bold;
    color: rgb(30, 30, 73);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

